.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: grey;
}

.left {
    background-color: blue;
    padding: 15% 25%;
    width: .50%;
    margin-top: 30px;
    margin-left: -8px;
    float: left;
}

.right {
    background-color: red;
    padding: 15% 10%;
    width: .20%;
    margin-top: 30px;
    margin-right: -8px;
    float: right;
}
.footer {
    position: fixed;
    text-align: center;
    background-color: seagreen;
    left: 0;
    bottom: 0;
    width: 100%;
}